# Meson build directory
build/

# Meson internal files
meson-private/
meson-logs/
_deps/

# C/C++ object and executable files
*.o
*.a
*.so
*.dll
*.exe

# IDE/Editor specific files
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
.clangd/
.cache
__pycache__/
*.pyc
# OS specific files
.DS_Store
Thumbs.db
